body {
  background: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20%;
}

.box {
  background: rgba(247, 246, 243, 0.9);
border-radius: 5px;
  border: 5px solid rgb(55, 107, 130);
padding: 20px;
  text-align: center;
}